<p> <%= @user.name %>のページ </p>

<%= form_with model: ToDoItem.new do |f|%>
  <%= f.label :contents, "to doを追加する" %><br>

  <%= f.text_field :title, placeholder: 'to do入力',class:"form-control to_do_input " %>
  <%= f.select :category_id, @category_selects,{:prompt => "category?"}, {:class => "btn category_tab"} %>

  <div class="form-inline">
    <span class="input-group date" id="datetimepicker1" data-target-input="nearest">
         <%= f.text_field(:start_at, placeholder: '開始時間',
            class: "form-control datetimepicker-input", data: {target:"#datetimepicker1"}) %>
         <span class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
              <span class="input-group-text"><i class="fas fa-calendar-plus"></i></span>
         </span>
    </span>

    <span class="input-group date" id="datetimepicker2" data-target-input="nearest">
           <%= f.text_field(:end_at, placeholder: '終了時間',
               class: "form-control datetimepicker-input", data: {target:"#datetimepicker2"}) %>
           <span class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                 <span class="input-group-text"><i class="fas fa-calendar-plus"></i></span>
           </span>
    </span>
  </div>

  <div class="btn btn-primary ">
    <%= link_to '詳細を記入する',new_to_do_item_path, params: {title: 'hoge'}, method: :post %>
  </div>

<%= f.submit "登録する", :class=>"btn btn-info" %>


 <br><br>
<% end %>


<h3>本日のto do</h3>
<p>本日は<%= Time.now.strftime('%Y年%m月%d日') %>です。</p>

<%= form_with(url: 'user_home') do |f| %>

 <table class="table">

   <%  @cate_does.each_with_index do |cate_do, i| %>
     <tr>
        <td id ='<%= cate_do[3] %>' >
          <%= f.check_box(:cate_do, {:multiple => true}, cate_do[3], nil) %>
          <%= link_to cate_do[2] , to_do_item_path(cate_do[3])%>
          <%=  cate_do[4] %>
        </td>
         <br>
     </tr>
   <% end %>

 </table>

<%= f.submit('todo完了') %>
<% end %>


<% content_for :sidebar_left do %>

<tr><td> <i class="material-icons md-24">event</i> today</td></tr>
<br>
<tr><td> <i class="material-icons md-24">event</i> week</td></tr>
<br>
<tr><td> <i class="material-icons md-24">assignment</i> <%= link_to 'all', to_do_items_path %> </td></tr>
<br>
<%  @category_selects.each do |category_select| %>

<tr><td> <i class="material-icons md-24">assignment</i> <%= link_to category_select[0], to_do_item_sort_path(title:category_select[0]) %></td></tr>
<br>
<% end %>

<%= form_with model: Category.new do |f| %>
<tr><td> +<i class="material-icons md-24">assignment</i><%= f.text_field :category_name, placeholder: '追加カテゴリー', class: "category_text"%></td></tr>

 <% f.submit %>
<% end %>



<li><%= link_to 'カテゴリー編集',categories_path %></li>
</ol>

<% end %>
