<%= form_with(url: '/user_home',model: ToDoItem.new, local: false) do |f| %>

<div class="field">
 <%= f.label :start_date  %>
 <%= f.date_select :start_date %>
</div>

<div class="field">
 <%= f.label :start_time %>
 <%= f.time_select :start_time %>
 </div>

<div class="field">
 <%= f.label :end_date %>
 <%= f.date_select :end_date %>
 </div>

<div class="field">
 <%= f.label :end_time %>
 <%= f.time_select :end_time %>
 </div>

 <div class="actions">
   <%= f.submit %>
 </div>
<% end %>
