<%= form_with(url: '/user_home',model: ToDoItem.new, local: true) do |f| %>

<div class="field">
 <%= f.label :start_at  %>
 <%= f.datetime_select :start_at %>
</div>


<div class="field">
 <%= f.label :end_at %>
 <%= f.datetime_select :end_at %>
 </div>

 <div class="actions">
   <%= f.submit %>
 </div>
<% end %>
