<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @to_do_item.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @to_do_item.category.category_name %>
</p>


<p>
  <strong>Start datetime:</strong>
  <%= @to_do_item.start_at  %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @to_do_item.end_at %>
</p>

<p>
  <strong>Place:</strong>
  <%= @to_do_item.place %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @to_do_item.memo %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @to_do_item.attachment %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @to_do_item.rank %>
</p>

<p>
  <strong>Remind:</strong>
  <%= @to_do_item.remind %>
</p>

<p>
  <strong>Remind time:</strong>
  <%= @to_do_item.remind_time %>
</p>

<p>
  <strong>complete:</strong>
  <%= @to_do_item.complete %>
</p>

<%= link_to 'Edit', edit_to_do_item_path(@to_do_item) %> |
<%= link_to 'Back', user_home_path %>
