
<p> sort </p>


<table class="table table-bordered table-hover">
<thead>
  <tr>
    <th>Title</th>
    <th>Category</th>

    <th>Start datetime</th>
    <th>End datetime</th>
    <th>Place</th>

    <th>Rank</th>

    <th colspan="3"></th>
  </tr>
</thead>

<%  @cate_does.each do |cate_do| %>
  <tr>
  <td><%= cate_do.title %></td>
  <td><%= cate_do.category.category_name %></td>
  <% if cate_do.start_at.blank? %>
   <td></td>
   <% else %>
  <td><%= cate_do.start_at.strftime('%Y年%m月%d日%H時%M分')%></td>
  <% end %>
  <% if cate_do.end_at.blank? %>
   <td></td>
   <% else %>
  <td><%= cate_do.end_at.strftime('%Y年%m月%d日%H時%M分')%></td>
  <% end %>
  <td><%= cate_do.place %></td>
  <td><%= cate_do.rank %></td>

  <td><%= link_to 'Show', to_do_item_path(cate_do.id) %></td>
  <td><%= link_to 'Edit', edit_to_do_item_path(cate_do.id) %></td>
  <td><%= link_to 'Destroy', to_do_item_path(cate_do.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>

  <br>
  </tr>
<% end %>

</table>

<%= link_to "戻る", user_home_path %>
