<!DOCTYPE html>
<html>
  <head>
    <title>RailsDev2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
     <%= render "layouts/header" %>
     <div class="container py-2 px-0">
      <%= flash_message(flash[:success], :success) if flash[:success] %>
      <%= flash_message(flash[:error], :danger) if flash[:error] %>
      <%= flash_message(flash[:alert], :warning) if flash[:alert] %>
      <%= flash_message(flash[:notice], :info) if flash[:notice] %>



       <div id="left"> <%= yield :sidebar_left %></div>
              <div id ="center"><%= yield %> </div>

    <%= render "layouts/footer" %>

    </div>
  </body>
</html>
